.elementor-1992 .elementor-element.elementor-element-2536512:not(.elementor-motion-effects-element-type-background),
.elementor-1992 .elementor-element.elementor-element-2536512>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-4cce3e4);
}

.elementor-1992 .elementor-element.elementor-element-2536512 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6em 0em 6em 0em;
}

.elementor-1992 .elementor-element.elementor-element-2536512>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1992 .elementor-element.elementor-element-2536512 a {
    color: var(--e-global-color-8423d5f);
}

.elementor-1992 .elementor-element.elementor-element-2536512 a:hover {
    color: var(--e-global-color-8423d5f);
}

.elementor-1992 .elementor-element.elementor-element-0dead4b {
    text-align: center;
}

.elementor-1992 .elementor-element.elementor-element-0dead4b img {
    width: 223px;
}

.elementor-1992 .elementor-element.elementor-element-eb9cd9b .elementor-spacer-inner {
    --spacer-size: 50px;
}

.elementor-1992 .elementor-element.elementor-element-50a974e>.elementor-element-populated {
    text-align: center;
}

.elementor-1992 .elementor-element.elementor-element-6793430 {
    text-align: left;
}

.elementor-1992 .elementor-element.elementor-element-6793430 .elementor-heading-title {
    color: var(--e-global-color-98c822c);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-1992 .elementor-element.elementor-element-6793430>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1992 .elementor-element.elementor-element-f418305 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-secondary);
    --divider-border-width: 1px;
}

.elementor-1992 .elementor-element.elementor-element-f418305 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-1992 .elementor-element.elementor-element-f418305 .elementor-divider {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-1992 .elementor-element.elementor-element-b04014a {
    text-align: left;
    color: var(--e-global-color-8423d5f);
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1992 .elementor-element.elementor-element-b04014a>.elementor-widget-container {
    padding: 0em 0em 0em 0em;
}

.elementor-1992 .elementor-element.elementor-element-297d73d {
    text-align: left;
}

.elementor-1992 .elementor-element.elementor-element-297d73d .elementor-heading-title {
    color: var(--e-global-color-98c822c);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-1992 .elementor-element.elementor-element-297d73d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1992 .elementor-element.elementor-element-7461896 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-secondary);
    --divider-border-width: 1px;
}

.elementor-1992 .elementor-element.elementor-element-7461896 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-1992 .elementor-element.elementor-element-7461896 .elementor-divider {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-1992 .elementor-element.elementor-element-10e5ffa {
    text-align: left;
    color: var(--e-global-color-8423d5f);
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1992 .elementor-element.elementor-element-10e5ffa>.elementor-widget-container {
    padding: 0em 0em 0em 0em;
}

.elementor-1992 .elementor-element.elementor-element-254df22.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1992 .elementor-element.elementor-element-9797312 {
    text-align: left;
}

.elementor-1992 .elementor-element.elementor-element-9797312 .elementor-heading-title {
    color: var(--e-global-color-98c822c);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-1992 .elementor-element.elementor-element-9797312>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1992 .elementor-element.elementor-element-7018248 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-secondary);
    --divider-border-width: 1px;
}

.elementor-1992 .elementor-element.elementor-element-7018248 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin: 0;
}

.elementor-1992 .elementor-element.elementor-element-7018248 .elementor-divider {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.elementor-1992 .elementor-element.elementor-element-6230b4b {
    columns: 2;
    text-align: left;
    color: var(--e-global-color-8423d5f);
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.elementor-1992 .elementor-element.elementor-element-e2d43fb .elementor-spacer-inner {
    --spacer-size: 10px;
}

.elementor-1992 .elementor-element.elementor-element-05752ad>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1992 .elementor-element.elementor-element-f39a550 {
    text-align: left;
}

.elementor-1992 .elementor-element.elementor-element-f39a550 img {
    width: 170px;
    opacity: 0.5;
}

.elementor-1992 .elementor-element.elementor-element-838e818 img {
    width: 200px;
    opacity: 0.5;
}

.elementor-1992 .elementor-element.elementor-element-4546943 {
    text-align: right;
}

.elementor-1992 .elementor-element.elementor-element-4546943 img {
    width: 190px;
    opacity: 0.5;
}

@media(max-width:767px) {
    .elementor-1992 .elementor-element.elementor-element-9797312 {
        text-align: left;
    }

    .elementor-1992 .elementor-element.elementor-element-6230b4b {
        columns: 1;
    }

    .elementor-1992 .elementor-element.elementor-element-6230b4b>.elementor-widget-container {
        padding: 0em 0em 0em 0em;
    }

    .elementor-1992 .elementor-element.elementor-element-f39a550 {
        text-align: left;
    }

    .elementor-1992 .elementor-element.elementor-element-f39a550 img {
        width: 170px;
    }

    .elementor-1992 .elementor-element.elementor-element-838e818 {
        text-align: left;
    }

    .elementor-1992 .elementor-element.elementor-element-838e818 img {
        width: 200px;
    }

    .elementor-1992 .elementor-element.elementor-element-4546943 {
        text-align: left;
    }

    .elementor-1992 .elementor-element.elementor-element-4546943 img {
        width: 190px;
    }
}

@media(min-width:768px) {
    .elementor-1992 .elementor-element.elementor-element-50a974e {
        width: 25%;
    }

    .elementor-1992 .elementor-element.elementor-element-28e5d1b {
        width: 25%;
    }

    .elementor-1992 .elementor-element.elementor-element-254df22 {
        width: 49.666%;
    }
}