.elementor-1833 .elementor-element.elementor-element-2a054bc2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1833 .elementor-element.elementor-element-2a054bc2:not(.elementor-motion-effects-element-type-background),
.elementor-1833 .elementor-element.elementor-element-2a054bc2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-1833 .elementor-element.elementor-element-2a054bc2 {
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1em 1em 1em 1em;
    z-index: 1;
}

.elementor-1833 .elementor-element.elementor-element-2a054bc2>.elementor-background-overlay {
    transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1833 .elementor-element.elementor-element-45d30763 img {
    width: 237px;
}

.elementor-1833 .elementor-element.elementor-element-6e6a7a71.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1833 .elementor-element.elementor-element-9ab333a .elementor-icon-list-icon i {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-9ab333a .elementor-icon-list-icon svg {
    fill: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-9ab333a {
    --e-icon-list-icon-size: 14px;
}

.elementor-1833 .elementor-element.elementor-element-9ab333a .elementor-icon-list-text {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__lang a {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__icon {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__lang a:hover,
.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__lang a:focus {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__nav {
    --cpel-switcher-space: 11px;
}

.elementor-1833 .elementor-element.elementor-element-1a15549.cpel-switcher--aspect-ratio-11 .cpel-switcher__flag {
    width: 20px;
    height: 20px;
}

.elementor-1833 .elementor-element.elementor-element-1a15549.cpel-switcher--aspect-ratio-43 .cpel-switcher__flag {
    width: 20px;
    height: calc(20px * 0.75);
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__flag img {
    border-radius: 0px;
}

.elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__code {
    padding-left: 10px;
}

.elementor-1833 .elementor-element.elementor-element-ffb7ed8>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1833 .elementor-element.elementor-element-ffb7ed8 {
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -150px;
    padding: 1em 1em 1em 1em;
    z-index: 1;
}

.elementor-1833 .elementor-element.elementor-element-ffb7ed8>.elementor-background-overlay {
    transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1833 .elementor-element.elementor-element-32eca40.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__lang a {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__icon {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__lang a:hover,
.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__lang a:focus {
    color: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__nav {
    --cpel-switcher-space: 11px;
}

.elementor-1833 .elementor-element.elementor-element-1391a8c.cpel-switcher--aspect-ratio-11 .cpel-switcher__flag {
    width: 20px;
    height: 20px;
}

.elementor-1833 .elementor-element.elementor-element-1391a8c.cpel-switcher--aspect-ratio-43 .cpel-switcher__flag {
    width: 20px;
    height: calc(20px * 0.75);
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__flag img {
    border-radius: 0px;
}

.elementor-1833 .elementor-element.elementor-element-1391a8c .cpel-switcher__code {
    padding-left: 10px;
}

.elementor-1833 .elementor-element.elementor-element-c10cc41 img {
    width: 237px;
}

.elementor-1833 .elementor-element.elementor-element-904d40c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    border-width: 0px;
    border-radius: 0px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item {
    color: var(--e-global-color-98c822c);
    fill: var(--e-global-color-98c822c);
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item:hover,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item:focus {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var(--e-global-color-accent);
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed .elementor-item:before,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed .elementor-item:after {
    border-color: var(--e-global-color-accent);
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed .elementor-item:before {
    border-width: 2px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 2px 2px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 2px 2px 0 0;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 2px 0 0 2px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 2px 2px 0;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-underline .elementor-item:after,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-overline .elementor-item:before,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-double-line .elementor-item:before,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .e--pointer-double-line .elementor-item:after {
    height: 2px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a {
    --e-nav-menu-horizontal-menu-item-margin: calc(11px / 2);
    width: auto;
    max-width: auto;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 11px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-menu-toggle {
    color: #000000;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown {
    background-color: #f2f2f2;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a:hover,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a.highlighted,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-menu-toggle:hover {
    color: #00ce1b;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a:hover,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a.highlighted {
    background-color: #ededed;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown .elementor-item,
.elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown .elementor-sub-item {
    font-size: 15px;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a div.elementor-menu-toggle {
    color: #000000;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a div.elementor-menu-toggle svg {
    fill: #000000;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a div.elementor-menu-toggle:hover {
    color: #00ce1b;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a div.elementor-menu-toggle:hover svg {
    fill: #00ce1b;
}

.elementor-1833 .elementor-element.elementor-element-05b1a0a>.elementor-widget-container {
    padding: 0em 1em 0em 1em;
}

.elementor-1833 .elementor-element.elementor-element-144baf0 .elementor-button {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    fill: var(--e-global-color-98c822c);
    color: var(--e-global-color-98c822c);
    background-color: #00000000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-98c822c);
    border-radius: 100px 100px 100px 100px;
}

.elementor-1833 .elementor-element.elementor-element-144baf0 {
    width: auto;
    max-width: auto;
}

.elementor-1833:not(.elementor-motion-effects-element-type-background),
.elementor-1833>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

@media(min-width:768px) {
    .elementor-1833 .elementor-element.elementor-element-32eca40 {
        width: 6.227%;
    }

    .elementor-1833 .elementor-element.elementor-element-c552602 {
        width: 20.981%;
    }

    .elementor-1833 .elementor-element.elementor-element-904d40c {
        width: 72.456%;
    }
}

@media(max-width:1024px) {
    .elementor-1833 .elementor-element.elementor-element-2a054bc2 {
        margin-top: 0px;
        margin-bottom: -150px;
        padding: 1em 1em 1em 1em;
    }

    .elementor-1833 .elementor-element.elementor-element-45d30763 {
        text-align: left;
    }

    .elementor-1833 .elementor-element.elementor-element-45d30763 img {
        width: 215px;
    }

    .elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__nav {
        --cpel-switcher-space: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-ffb7ed8 {
        margin-top: 0px;
        margin-bottom: -150px;
        padding: 1em 1em 1em 1em;
    }

    .elementor-1833 .elementor-element.elementor-element-c10cc41 img {
        width: 215px;
    }

    .elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main .elementor-item {
        padding-left: 14px;
        padding-right: 14px;
    }

    .elementor-1833 .elementor-element.elementor-element-05b1a0a {
        --e-nav-menu-horizontal-menu-item-margin: calc(0px / 2);
    }

    .elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1833 .elementor-element.elementor-element-2a054bc2 {
        margin-top: 0px;
        margin-bottom: -2px;
    }

    .elementor-1833 .elementor-element.elementor-element-1afbefba {
        width: 53%;
    }

    .elementor-1833 .elementor-element.elementor-element-1afbefba>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-45d30763 {
        text-align: center;
    }

    .elementor-1833 .elementor-element.elementor-element-45d30763 img {
        width: 184px;
    }

    .elementor-1833 .elementor-element.elementor-element-6e6a7a71 {
        width: 35%;
    }

    .elementor-1833 .elementor-element.elementor-element-6e6a7a71>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-9ab333a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-d26290a {
        width: 10%;
    }

    .elementor-1833 .elementor-element.elementor-element-d26290a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-1a15549 .cpel-switcher__nav {
        --cpel-switcher-space: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-ffb7ed8 {
        margin-top: 0px;
        margin-bottom: -150px;
        padding: 0em 0em 0em 0em;
    }

    .elementor-1833 .elementor-element.elementor-element-32eca40 {
        width: 50%;
    }

    .elementor-1833 .elementor-element.elementor-element-32eca40>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-c10cc41 {
        text-align: left;
    }

    .elementor-1833 .elementor-element.elementor-element-c10cc41 img {
        width: 160px;
    }

    .elementor-1833 .elementor-element.elementor-element-904d40c {
        width: 50%;
    }

    .elementor-1833 .elementor-element.elementor-element-904d40c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--dropdown a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-1833 .elementor-element.elementor-element-05b1a0a .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1833 .elementor-element.elementor-element-1afbefba {
        width: 25%;
    }

    .elementor-1833 .elementor-element.elementor-element-6e6a7a71 {
        width: 67%;
    }

    .elementor-1833 .elementor-element.elementor-element-d26290a {
        width: 8%;
    }

    .elementor-1833 .elementor-element.elementor-element-32eca40 {
        width: 10%;
    }

    .elementor-1833 .elementor-element.elementor-element-c552602 {
        width: 30%;
    }

    .elementor-1833 .elementor-element.elementor-element-904d40c {
        width: 60%;
    }
}