.elementor-37 .elementor-element.elementor-element-1691f4bc .elementor-spacer-inner {
    --spacer-size: 29px;
}

.elementor-37 .elementor-element.elementor-element-52d433a0 {
    --divider-border-style: solid;
    --divider-color: rgba(124, 146, 160, 0.47);
    --divider-border-width: 1px;
}

.elementor-37 .elementor-element.elementor-element-52d433a0 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin: 0;
}

.elementor-37 .elementor-element.elementor-element-52d433a0 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item {
    color: #F4F6F5;
    fill: #F4F6F5;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item:hover,
.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item:focus {
    color: #7C92A0;
    fill: #7C92A0;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #7C92A0;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-underline .elementor-item:after,
.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-overline .elementor-item:before,
.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-double-line .elementor-item:before,
.elementor-37 .elementor-element.elementor-element-2e324b78 .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-37 .elementor-element.elementor-element-7f1383dc {
    --divider-border-style: solid;
    --divider-color: rgba(124, 146, 160, 0.47);
    --divider-border-width: 1px;
}

.elementor-37 .elementor-element.elementor-element-7f1383dc .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin: 0;
}

.elementor-37 .elementor-element.elementor-element-7f1383dc .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-37 .elementor-element.elementor-element-bc7e9ca .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    fill: var(--e-global-color-98c822c);
    color: var(--e-global-color-98c822c);
    background-color: #00000045;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 50px 50px 50px 50px;
}

.elementor-37 .elementor-element.elementor-element-bc7e9ca .elementor-button:hover,
.elementor-37 .elementor-element.elementor-element-bc7e9ca .elementor-button:focus {
    color: var(--e-global-color-98c822c);
    background-color: #2D2D2D;
}

.elementor-37 .elementor-element.elementor-element-bc7e9ca .elementor-button:hover svg,
.elementor-37 .elementor-element.elementor-element-bc7e9ca .elementor-button:focus svg {
    fill: var(--e-global-color-98c822c);
}

.elementor-37 .elementor-element.elementor-element-c3419a3 {
    --grid-template-columns: repeat(0, auto);
    --grid-row-gap: 0px;
}

.elementor-37 .elementor-element.elementor-element-c3419a3 .elementor-widget-container {
    text-align: center;
}

.elementor-37 .elementor-element.elementor-element-c3419a3 .elementor-social-icon {
    background-color: #00000000;
    --icon-padding: 0.3em;
}

.elementor-37 .elementor-element.elementor-element-c3419a3 .elementor-social-icon i {
    color: var(--e-global-color-98c822c);
}

.elementor-37 .elementor-element.elementor-element-c3419a3 .elementor-social-icon svg {
    fill: var(--e-global-color-98c822c);
}

.elementor-37 .elementor-element.elementor-element-c3419a3>.elementor-widget-container {
    padding: 0px 0px 0px 10px;
}

#elementor-popup-modal-37 .dialog-message {
    width: 300px;
    height: 100vh;
    align-items: flex-start;
    padding: 14px 14px 14px 14px;
}

#elementor-popup-modal-37 {
    justify-content: flex-end;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.53);
}

#elementor-popup-modal-37 .dialog-close-button {
    display: flex;
    top: 2%;
}

#elementor-popup-modal-37 .dialog-widget-content {
    animation-duration: 0.8s;
    background-color: #000000;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 0px 0px;
}

body:not(.rtl) #elementor-popup-modal-37 .dialog-close-button {
    right: 11.4%;
}

body.rtl #elementor-popup-modal-37 .dialog-close-button {
    left: 11.4%;
}

#elementor-popup-modal-37 .dialog-close-button i {
    color: #FFFFFF;
}

#elementor-popup-modal-37 .dialog-close-button svg {
    fill: #FFFFFF;
}

@media(max-width:767px) {
    .elementor-37 .elementor-element.elementor-element-c3419a3 .elementor-social-icon {
        --icon-padding: 0.2em;
    }
}