.elementor-1391 .elementor-element.elementor-element-26368f81>.elementor-container {
    min-height: 57vh;
}

.elementor-1391 .elementor-element.elementor-element-26368f81>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

#elementor-popup-modal-1391 .dialog-message {
    height: auto;
}

#elementor-popup-modal-1391 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: #000000DE;
}

#elementor-popup-modal-1391 .dialog-close-button {
    display: flex;
    top: 0%;
    font-size: 28px;
}

#elementor-popup-modal-1391 .dialog-widget-content {
    animation-duration: 0.5s;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

body:not(.rtl) #elementor-popup-modal-1391 .dialog-close-button {
    right: 0%;
}

body.rtl #elementor-popup-modal-1391 .dialog-close-button {
    left: 0%;
}